<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="no" default-lazy-init="true">



	<!-- JadeBeanFactoryPostProcessorPostProcessor 将扫描符合规范的DAO接口，并作为spring容器的bean -->

	<!-- 如果要禁用JadeBeanFactoryPostProcessorPostProcessor，请设置系统属性jade.context.spring为0 (0代表disable, 1代表enable)。 
		也可以通过设置jade.context.spring.包名或类名单独为各个package或类做定制(也是设置disable或enable）， 
		如果给定的类或package没有设置，则逐级使用父级的设置， jade.context.spring.com.yourcompany.dao.UserDAO 
		的父级是 jade.context.spring.com.yourcompany.dao; jade.context.spring.com 
		的父级是 jade.context.spring.*; jade.context.spring.* 是根，没有父级别（嗯，因此您可以将 
		jade.context.spring.* 的设置看成整个系统的默认值) -->
	<bean
		class="net.paoding.rose.jade.context.spring.JadeBeanFactoryPostProcessor" />

</beans>
